.container {
    height: 100vh;
    max-width: 992px;
    margin: 0 auto; 
    padding: 2.5rem 2rem;

    display: flex;
    flex-direction: column;
}

.container section {
    flex: 1;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 6.25rem;
    align-content: center;
}

.container .principalItems {
    width: 100%;
    min-height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 680px){
    .container {
        flex: 1;
        width: 100%;
    }

    .container section {
        margin-top: 42rem;

        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
    }

    .container .experienceBar {
        padding: 1.4rem;

        position: sticky;
        top: 0;
        background-color: var(--background);
    }
}